<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freshnin.userapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Freshnin">
        <activity
            android:name=".activity.ActivityOnGoingOrderDetails"
            android:exported="true">


        </activity>
        <activity
            android:name=".activity.ActivityOnGoingOrders"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.ActivityOldOrderHistory"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.ActivityCheckOut"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityFavouriteFood"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityPreOrderItemCart"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityMyCart"
            android:exported="true" >

        </activity>
        <activity
            android:name=".activity.ActivityFoodItemDetails"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityFoodItemList"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.ActivityHome"
            android:exported="true">

        </activity>
        <activity android:name=".activity.ActivityCreateAccount" >

        </activity>

        <activity android:name=".activity.ActivityLogIn" />
        <activity
            android:name=".activity.ActivitySplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.ActivityOTPVerification" />
        <activity android:name=".activity.ActivityRegistrationWithDetails" />
        <activity android:name=".activity.ActivityPreOrderProductDetails" />
        <activity
            android:name=".activity.ActivityPreOrderHistory"
            android:exported="true">

        </activity>
        <activity android:name=".activity.ActivityPreOrderFoodList">

        </activity>
        <activity android:name=".activity.ActivityPreOrderDetails" />
    </application>

</manifest>